<!DOCTYPE html>
<html>
  <head>
    <title><%= error.status %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= error.status %></h1>
    <p>错误信息: <%= message %></p>
  </body>
</html>